.form-container {
    padding: 10rem 0 9.063rem;
    position: relative;
    max-width: 455px;
    margin: 0 auto;
}

.formTitle {
    font-size: clamp(1.5rem, 1.1528rem + 1.1111vw, 2rem);
    font-weight: 800;
    margin-bottom: 1.25rem;
}

.form {
    display: flex;
    flex-direction: column;
    font-family: 'Manrope', -apple-system, BlinkMacSystemFont;
}

.inputContainer {
    text-align: right;
    margin-bottom: 1.25rem;
    position: relative;
}

.inputContainer:before {
    content: attr(data-field-name);
    display: block;
    position: absolute;
    font-size: 0.75rem;
    background-color: #7C69F7;
    border-radius: .25rem;
    padding: 2px 6px 4px;
    top: 0;
    left: 1.25rem;
    transform: translateY(-50%);
    opacity: 0;
    visibility: hidden;
    transition: all cubic-bezier(.645, .045, .355, 1) .35s;
}

.inputContainer:focus-within:before {
    opacity: 1;
    visibility: visible;
}

.form input,
.form textarea {
    padding: 1.25rem;
    background-color: rgba(255, 255, 255, 0.04);
    border: none;
    width: 100%;
    box-sizing: border-box;
    border-radius: .25rem;
    color: #fff;
    font-weight: 500;
    font-size: 1rem;
}

.form input:focus,
.form textarea:focus {
    outline: #7C69F7 solid 2px;
}

.invalid input:focus {
    outline-color: #F7696B;
}

.invalid:focus-within:before {
    background-color: #F7696B;
}

.inputContainer p {
    font-size: 0.75rem;
    padding-top: 0.375rem;
    margin: 0;
    color: #F7696B;
}

.form input::placeholder,
.form textarea::placeholder {
    color: rgba(255, 255, 255, 0.4);
    font-weight: 500;
    font-family: "Manrope";
}

.form span {
    font-weight: 500;
}

.policyLink {
    color: #FCB02D;
    transition: all cubic-bezier(.645, .045, .355, 1) .35s;
    text-decoration: none;
}

.policyLink:hover {
    opacity: .8;
}

.customCheckbox {
    margin-bottom: 2.5rem;
    cursor: pointer;
    display: flex;
    align-items: flex-start;
}

.buttonContainer {
    text-align: center;
}

@media screen and (max-width: 576px) {
    br {
        display: none;
    }
    
    .form-container {
        padding: 5rem 0 6.25rem;
    }
}
