.main-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 214px);
    position: relative;
}

.subtitle {
    font-weight: 600;
    display: flex;
    padding-bottom: 2.5rem;

    span {
        display: block;
    }
}

.subtitle-name {
    margin-right: 2.5rem;
    position: relative;
}

.subtitle-name:after {
    content: '';
    position: absolute;
    height: 40px;
    width: 2px;
    background: #fff;
    top: 0;
    right: -20px;
    transform: translateY(-25%) rotate(30deg);
}

.main-title {
    font-size: clamp(2.375rem, -1.184rem + 11.3889vw, 7.5rem);
    font-weight: 900;
    text-align: center;
    padding-bottom: 3.125rem;
    line-height: 1;
}

.description-block {
    max-width: 1130px;
    margin: 0 auto;
    padding-top: 3.938rem;
    display: flex;
}

.description-title {
    width: 38%;
    font-weight: 800;
    font-size: clamp(1.5rem, 1.066rem + 1.3889vw, 2.125rem);
    margin-right: 1.688rem;
}

.description-subtitle {
    width: 61%;
    font-size: clamp(1rem, 0.6528rem + 1.1111vw, 1.5rem);
    margin-left: 1.688rem;
    line-height: 36px;
    font-weight: 400;
    font-family: 'Manrope';
}

.undertext {
    position: absolute;
    bottom: -5.625rem;
}

.scroll-down {
    position: absolute;
    width: 28px;
    height: 54px;
    background-color: rgba(255, 255, 255, .03);
    bottom: 4.625rem;
    border-radius: 100px;
}

.scroll-down-icon {
    position: relative;
    width: 100%;
    height: 100%;
}

.scroll-down-icon:before {
    content: '';
    position: absolute;
    width: 2px;
    height: 15px;
    background-color: #fff;
    bottom: 13px;
    left: calc(50% - 1px);
}

.scroll-down-icon:after {
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    border-bottom: solid 2px #fff;
    border-left: solid 2px #fff;
    bottom: 13px;
    left: calc(50% - 3.55px);
    transform: rotate(-45deg);
}


@media screen and (max-width: 576px) {
    br {
        display: none;
    }
    .main-screen {
        height: auto;
    }

    .main-screen > * {
        z-index: 10;
    }

    .subtitle {
        width: 100%;
        flex-direction: column;
    }

    .subtitle-name {
        margin-left: 0;
        margin-bottom: 1rem;
    }

    .subtitle-name:after {
        right: 0;
        transform: translate(0) rotate(30deg);
    }

    .description-block {
        flex-direction: column;
    }

    .description-title,
    .description-subtitle {
        width: 100%;
        margin: 0;
    }

    .description-title {
        margin-bottom: 1.25rem;
    }

    .description-subtitle {
        line-height: 1.5;
    }

    .scroll-down {
        display: none;
    }

    .undertext {
        transform-origin: top left;
        transform: rotate(90deg); 
        bottom: initial;
        width: 100vh;
        height: 100vw;
        left: 50%;
        top: 0;
        z-index: 1;
    }

    .undertext svg {
        width: 100%;
    }
}