@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'), url(./fonts/Montserrat-VariableFont_wght.ttf);
}

@font-face {
  font-family: 'Manrope';
  src: local('Manrope'), url(./fonts/Manrope-VariableFont_wght.ttf);
}

body {
  margin: 0;
  font-family: 'Manrope', -apple-system, BlinkMacSystemFont, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  line-height: 1;
  overflow-x: hidden;
}

button,
input::placeholder, 
textarea::placeholder {
  font-family: 'Manrope', -apple-system, BlinkMacSystemFont, sans-serif;
}

code {
  font-family: 'Montserrat', source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: 'Montserrat', source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  margin: 0;
}